.new_project {
    width: 90%;
    padding: 2em 2em;
    margin: 2em auto;
    margin-bottom: 0;
    height: auto;
    background: #e4ebf5;
    border-radius: 2em;
    box-shadow: 0 0rem 2rem 0 rgba(0, 0, 0, .196)
}

.new_project h1 {
    font-family: Cambria;
    padding: .4em 0;
    font-size: 4.5rem;
    z-index: 12;
    text-align: center;
    letter-spacing: .2rem
}

.new_pro1 {
    width: 100%;
    margin: auto;
    padding: 3em 0 4em 0;
    height: auto;
    border-radius: 2em;
    position: relative
}

.new_pro1::after {
    clear: both;
    content: "";
    display: block
}

.new_pro_img {
    width: 45%;
    float: left;
    overflow: hidden
}

.new_pro_des {
    padding: 0 2em;
    text-align: justify;
    font-size: 1.6rem;
    width: 55%;
    float: right
}

.new_pro_img .outer_iframe {
    width: 90%;
    margin: auto;
    position: relative;
    transition: left .5s, opacity .8s, width 3s;
    transition-timing-function: cubic-bezier(0, 1, 1, 1);
    box-shadow: .3rem .3rem .6rem #c8d0e7, -.2rem -.2rem .5rem #fff
}

.iframe-embed-wrapper {
    border-radius: .5em
}

.new_pro_des h3 {
    font-size: 1.872rem;
    letter-spacing: .2rem;
    font-weight: 700;
    text-align: left;
    line-height: 2.6rem
}

.new_pro_des p {
    margin-top: 1em;
    line-height: 22.4px;
    font-size: 1.4rem;
    letter-spacing: .14rem
}

.new_pro_des p span {
    font-size: 1.7rem;
    font-weight: 600
}

@media (max-width:1200px) {
    .new_pro_img {
        width: 100%;
        float: none
    }

    .new_pro_img .outer_iframe {
        width: 60%
    }

    .new_pro_des {
        padding: 2em 0 0 0;
        width: 100%;
        float: none
    }
}

@media (max-width:800px) {
    .new_pro_img .outer_iframe {
        width: 100%;
        float: none
    }
}

.iframe-embed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%
}

.iframe-embed-wrapper {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden
}

.iframe-embed-responsive-16by9 {
    padding-bottom: 56.25%
}

.github {
    display: inline-block;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 200, 255, .532), rgba(0, 115, 255, .51));
    overflow: hidden
}

.github::after {
    background: #fff;
    content: "";
    height: 155px;
    top: -50px;
    left: -75px;
    opacity: .2;
    position: absolute;
    transform: rotate(35deg);
    transition: all 650ms cubic-bezier(.19, 1, .22, 1);
    width: 50px;
    z-index: 0
}

.github:hover::after {
    left: 120%;
    transition: all 650ms cubic-bezier(.19, 1, .22, 1)
}

.pro_btn {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%
}

.btn_pro {
    display: inline-block;
    text-align: center;
    width: 40%;
    height: 35%;
    border: none;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    text-transform: capitalize;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
    box-shadow: .3rem .3rem .6rem #c8d0e7, -.2rem -.2rem .5rem #fff
}

.btn_pro:focus, .btn_pro:focus::after {
    outline: 0
}

.btn_pro:active {
    transform: translateY(2px)
}

.btn_pro a {
    padding: 1em 1em;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff
}

.new_pro2 {
    width: 100%;
    margin: auto;
    padding: 2em 0 4em 0;
    height: auto;
    border-radius: 2em;
    position: relative
}

.new_pro2::after {
    clear: both;
    content: "";
    display: block
}

.new_pro2_img {
    overflow: hidden;
    width: 45%;
    float: right;
    z-index: 55
}

.new_pro2_des {
    padding: 0 2em;
    text-align: justify;
    font-size: 1.6rem;
    width: 55%;
    float: left
}

.new_pro2_img .outer_iframe {
    width: 90%;
    margin: auto;
    position: relative;
    transition-timing-function: cubic-bezier(0, 1, 1, 1);
    transition: left .5s, opacity .8s, width 3s;
    box-shadow: 0 0rem 20px 0 rgba(0, 0, 0, .3);
    box-shadow: .3rem .3rem .6rem #c8d0e7, -.2rem -.2rem .5rem #fff
}

.new_pro2_img .outer_iframe img {
    border: 1px solid #080808;
    border-radius: .5em;
    width: 100%
}

.new_pro2_des h3 {
    font-size: 1.872rem;
    letter-spacing: .2rem;
    font-weight: 700;
    text-align: left;
    line-height: 2.6rem
}

.new_pro2_des p {
    margin-top: 1em;
    line-height: 22.4px;
    font-size: 1.4rem;
    letter-spacing: .14rem
}

.new_pro2_des p span {
    font-size: 1.7rem;
    font-weight: 600
}

@media (max-width:1200px) {
    .new_pro2_img {
        width: 100%;
        float: none
    }

    .new_pro2_img .outer_iframe {
        width: 60%
    }

    .new_pro2_des {
        padding: 2em 0 0 0;
        width: 100%;
        float: none
    }
}

@media (max-width:800px) {
    .new_pro2_img .outer_iframe {
        width: 100%;
        float: none
    }
}

.outer_iframe .img {
    display: flex;
    overflow: hidden;
    position: relative
}

.img .inner_img {
    display: flex;
    opacity: 1;
    position: relative;
    transition: left 1s;
    left: 0
}

.outer_iframe .l_arrow {
    position: absolute;
    width: 40%;
    height: 100%;
    z-index: 999;
    transition: opacity .5s
}

.outer_iframe .r_arrow {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 60%;
    z-index: 999;
    transition: opacity .5s
}

.outer_iframe .l_arrow p img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: auto
}

.outer_iframe .r_arrow p img {
    position: absolute;
    border: none;
    width: auto;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%)
}

@media (max-width:450px) {
    .outer_iframe .l_arrow p img, .outer_iframe .r_arrow p img {
        width: 35%
    }
}