@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

/* #159AE1
#63E4FF */


* {
      margin: 0%;
      padding: 0%;
      box-sizing: border-box;
      font-family: 'Inter', sans-serif;
}

:root {
      scroll-behavior: smooth;
      font-size: 62.5%;
}

a{
      text-decoration: none;
      color: #000;
}
div.main_code {
      background-image: url("../img/bg.jpeg");
      background-size: cover;
      background-position: top;

}

@media (max-width: 770px) {
      div.main_code {
            background-position: 30% 0%;
      }
}

body {
      overflow-x: hidden;
}

/* -------------------------------- */
/* -------------------------------- */
/* --------- scroll bar ----------- */
/* -------------------------------- */
/* -------------------------------- */

::-webkit-scrollbar {
      width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
      background: #e6f2f8;
}

/* Handle */
::-webkit-scrollbar-thumb {
      background: #AAD3E5;
      border-radius: 100rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
      background: #54b7e1;
}


/* -------------------------------- */
/* -------------------------------- */
/* ------utility clases ----------- */
/* -------------------------------- */
/* -------------------------------- */

.dark_btn {
      /* display: none; */
      /* background-image: url('../img/icons8-double-up.gif'); */
      /* background-position: center; */
      /* background-size: cover; */
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 99;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 10em;

}

.dark_btn img {
      width: 60px;
      height: 60px;
}

.dark_btn:active img {
      box-shadow: 0px 0px 20px 0px rgba(1, 240, 248, 0.4);
      width: 62px;
      height: 62px;
}


.front ul li {
      list-style-type: none;
}

.font-16px {
      font-size: 1.6rem;
      color: black;
}

.font-20px {
      font-size: 2rem;
      color: black;
}

.font-24px {
      font-size: 2.4rem;
      color: black;
}

.font-28px {
      font-size: 2.8rem;
      color: black;
}

.font-32px {
      font-size: 3.2rem;
      color: black;
}

.font-36px {
      font-size: 3.6rem;
      color: black;
}

a.link {
      text-decoration: none;
      color: black;
}

/* ------ utility clases ---------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* --------- nav clases ----------- */

.front {
      /* background-image: url('../img/nav-bg3.svg'); */
      width: 100%;
      height: 80vh;
      /* border: 2px solid black; */
      /* background-position: bottom;
      background-size: cover; */
      /* box-shadow: 0px 0px 20px 1000px rgb(255 252 252 / 51%) inset; */
}

.nav-bar {
      width: 90%;
      margin: auto;
      height: 5rem;
      padding-top: .92em;
      /* border: 2px solid rgb(190, 31, 31); */
}

.nav-bar::after {
      content: "";
      clear: both;
      display: block;
}

.nav-bar .nav-name {
      width: 40%;
      height: 100%;
      float: left;
      /* border: 2px solid rgb(50, 31, 190); */


}

.nav-bar .nav-items {
      width: 60%;
      height: 100%;
      float: right;
      /* border: 2px solid rgb(190, 31, 31); */


}

.nav-name h1 {
      padding-top: .4em;
      letter-spacing: .2rem;
}

.nav-items ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
}

.nav-items ul li {
      width: auto;
      height: 100%;
      /* border: 2px solid black; */
}

.front ul li {
      text-align: center;
      padding: .95em .6em;
      letter-spacing: .2rem;
}

li a:hover {
      font-size: 1.65rem;
      text-decoration: underline;

}

.new_nav {
      display: none;
}

@media (max-width: 550px) {

      /* .front .nav-bar .nav-name {
            display: none;
      } */
      .front .nav-bar {
            display: none;
      }

      .front .new_nav {
            display: block;
      }

      .nav-name {
            display: none;
      }

      .front .nav-bar .nav-name,
      .front .nav-bar .nav-items {
            width: 100%;
            float: none;
      }

      .front .nav-bar {
            border-bottom: 2px solid;
            height: auto;
      }

      .front .nav-bar h1 {
            text-align: center;
      }

}

/* -------------------------------- */
/* -------------------------------- */
/* -------- nav animation --------- */
/* -------------------------------- */
/* -------------------------------- */

.new_nav {
      padding: 1.3em 1.5em;
}

.outer {
      position: relative;
      width: 40px;
      height: auto;

}

.outer:hover {
      width: 100%;
      height: 30px;
}

.box {
      width: 100%;
      height: auto;
      position: relative;
}

.btn_cover {
      width: 40px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}

.line {
      width: 100%;
      height: 5px;
      background: #000;
      border-radius: 1em;
      z-index: 7;
      box-shadow: 0px 0px 10px 0px rgba(84, 183, 225, 0.987);
}

.line1,
.line3 {
      transform-origin: 0%;
      transition: transform .3s ease-in-out;
}

.outer:hover .line2 {
      display: none;
}

.outer:hover .line1 {
      transform-origin: 0%;
      transform: rotate(36deg);
      width: 45px;
}

.outer:hover .line3 {
      transform-origin: 0%;
      transform: rotate(-36deg);
      width: 45px;
}

.btn {
      text-align: center;
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 40px;
      top: 0%;
      left: 0%;
      z-index: -2;
      transition: left .5s ease-in-out;
      opacity: 0;
}

.new_nav li {
      padding: .34em 0em;
      /* text-shadow: 0px 0px 10px rgba(4, 157, 240, 0.6); */
}

.outer:hover .btn1 {
      z-index: 10;
      width: 25%;
      left: 15%;
      opacity: 1;
}

.outer:hover .btn2 {
      z-index: 4;
      width: 25%;
      left: 45%;
      opacity: 1;
}

.outer:hover .btn3 {
      z-index: 3;
      width: 25%;
      left: 75%;
      opacity: 1;
}

/* -------------------------------- */
/* -------------------------------- */
/* ---------- nav animation ------- */
/* -------------------------------- */
/* -------------------------------- */

/* ---------- nav clases ---------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* ---------- greet class --------- */
.front {
      position: relative;
}

.greet {
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      /* border: 1px solid #000; */
}

.greet h2,
.greet h1 {
      text-align: center;
      letter-spacing: .2rem;

}

@media (max-width: 900px) {
      .greet {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            /* border: 1px solid #000; */
      }

      .greet .font-28px {
            font-size: 2rem;
      }

      .greet .font-36px {
            font-size: 2.6rem;
      }

}

@media (max-width: 500px) {
      .greet {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
      }

      .greet .font-28px {
            font-size: 1.8rem;
      }

      .greet .font-36px {
            font-size: 2.2rem;
      }

}

/* ---------- greet class --------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* ---------- icons --------------- */

.html {
      position: absolute;
      top: 20%;
      left: 76%;

      /* border: 1px solid #000; */
}

.css {
      position: absolute;
      top: 70%;
      left: 65%;
      /* border: 1px solid #000; */
}

.js {
      position: absolute;
      top: 70%;
      left: 88%;
      /* border: 1px solid #000; */
}

@media (max-width:700px) {

      .html,
      .css,
      .js {
            display: none;
      }
}


/* ---------- icon ---------------- */
/* -------------------------------- */
/* -------------------------------- */
/* ---------- Foooter ------------- */

.footer {
      position: relative;
      padding: 4em 0em 0em 0em;
      margin-top: 4em;
      text-align: center;
      background: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      background: #e4ebf5;
}

.footer .link_icon {
      /* border: 1px solid #000; */
      display: flex;
      flex-direction: row;
      justify-content: center;
}

.footer .link_icon div {
      /* border: 1px solid #000; */
      margin: 0em .4em;
}

.footer .link_icon div img {
      transition: margin .3s ease-in-out;

}

.footer .link_icon div:hover img {
      width: 40px;
      z-index: 34343;
      margin: auto 1em;
      border-radius: 1em;
      box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem white;
}

.footer .link_icon div:active {
      transform: translateY(3px);
}

div.copyright {
      text-align: center;
      display: block;
}

div.copyright p {
      text-align: center;
      display: block;
      /* border: 1px solid #000; */
      font-size: 1.2rem;
      letter-spacing: .14rem;
      line-height: 4.24rem;
}

.waves {
      /* border: 2px solid #000; */
      height: 90px;
      position: relative;
      width: 100%;
}

.parallax>use {
      background: #000;
      animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
      background: #000;
      animation-delay: -2s;
      animation-duration: 7s;
}

.parallax>use:nth-child(2) {
      background: #000;
      animation-delay: -3s;
      animation-duration: 10s;
}

.parallax>use:nth-child(3) {
      animation-delay: -4s;
      animation-duration: 13s;
}

.parallax>use:nth-child(4) {
      animation-delay: -5s;
      animation-duration: 20s;
}

@keyframes move-forever {
      0% {
            transform: translate3d(-90px, 0, 0);
      }

      100% {
            transform: translate3d(85px, 0, 0);
      }
}

/* @media (max-width: 768px) {
      .waves {
            height: 40px;
            min-height: 40px;
      }

      .content {
            height: 30vh;
      }

      h1 {
            font-size: 24px;
      }
} */

/* dark mode */
/* .dark {
      filter: invert(1);

} */

#light {
      filter: invert(0);
      /* box-shadow: none; */
}


.loader {
      position: absolute;
      top: calc(50% - 32px);
      left: calc(50% - 32px);
      width: 64px;
      height: 64px;
      border-radius: 50%;
      perspective: 800px;
  }
  
  .inner {
      position: absolute;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: 50%;
  }
  
  .inner.one {
      left: 0%;
      top: 0%;
      animation: rotate-one 1s linear infinite;
      border-bottom: 3px solid #0000fa;
  }
  
  .inner.two {
      right: 0%;
      top: 0%;
      animation: rotate-two 1s linear infinite;
      border-right: 3px solid #ff4d00;
  }
  
  .inner.three {
      right: 0%;
      bottom: 0%;
      animation: rotate-three 1s linear infinite;
      border-top: 3px solid #218702;
  }
  
  div.loader p {
      position: relative;
      font-weight: 600;
      letter-spacing: 1px;
      top: 80px;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  @keyframes rotate-one {
      0% {
          transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
      }
  
      100% {
          transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
      }
  }
  
  @keyframes rotate-two {
      0% {
          transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
      }
  
      100% {
          transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
      }
  }
  
  @keyframes rotate-three {
      0% {
          transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
      }
  
      100% {
          transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
      }
  }